a {
  text-decoration: none;
  color: inherit;
}
a:hover .menu__item {
  border-bottom: 5px solid #0be6af;
  padding-bottom: 5px;
}
a.router-link-exact-active .menu__item {
  border-bottom: 5px solid #0be6af;
  padding-bottom: 5px;
}

@font-face{font-family:Oswald;font-display:swap;src:url(/fonts/Oswald-Bold.woff2) format("woff2"),url(/fonts/Oswald-Bold.woff) format("woff");font-weight:700;font-style:normal}@font-face{font-family:Oswald;font-display:swap;src:url(/fonts/Oswald-ExtraLight.woff2) format("woff2"),url(/fonts/Oswald-ExtraLight.woff) format("woff");font-weight:200;font-style:normal}@font-face{font-family:Oswald;font-display:swap;src:url(/fonts/Oswald-Light.woff2) format("woff2"),url(/fonts/Oswald-Light.woff) format("woff");font-weight:300;font-style:normal}@font-face{font-family:Oswald;font-display:swap;src:url(/fonts/Oswald-Medium.woff2) format("woff2"),url(/fonts/Oswald-Medium.woff) format("woff");font-weight:500;font-style:normal}@font-face{font-family:Oswald;font-display:swap;src:url(/fonts/Oswald-Regular.woff2) format("woff2"),url(/fonts/Oswald-Regular.woff) format("woff");font-weight:400;font-style:normal}@font-face{font-family:Oswald;font-display:swap;src:url(/fonts/Oswald-SemiBold.woff2) format("woff2"),url(/fonts/Oswald-SemiBold.woff) format("woff");font-weight:600;font-style:normal}@font-face{font-family:Roboto;font-display:swap;src:url(/fonts/Roboto-BlackItalic.woff2) format("woff2"),url(/fonts/Roboto-BlackItalic.woff) format("woff");font-weight:900;font-style:italic}@font-face{font-family:Roboto;font-display:swap;src:url(/fonts/Roboto-Black.woff2) format("woff2"),url(/fonts/Roboto-Black.woff) format("woff");font-weight:900;font-style:normal}@font-face{font-family:Roboto;font-display:swap;src:url(/fonts/Roboto-BoldItalic.woff2) format("woff2"),url(/fonts/Roboto-BoldItalic.woff) format("woff");font-weight:700;font-style:italic}@font-face{font-family:Roboto;font-display:swap;src:url(/fonts/Roboto-Bold.woff2) format("woff2"),url(/fonts/Roboto-Bold.woff) format("woff");font-weight:700;font-style:normal}@font-face{font-family:Roboto;font-display:swap;src:url(/fonts/Roboto-Italic.woff2) format("woff2"),url(/fonts/Roboto-Italic.woff) format("woff");font-weight:400;font-style:italic}@font-face{font-family:Roboto;font-display:swap;src:url(/fonts/Roboto-LightItalic.woff2) format("woff2"),url(/fonts/Roboto-LightItalic.woff) format("woff");font-weight:300;font-style:italic}@font-face{font-family:Roboto;font-display:swap;src:url(/fonts/Roboto-Light.woff2) format("woff2"),url(/fonts/Roboto-Light.woff) format("woff");font-weight:300;font-style:normal}@font-face{font-family:Roboto;font-display:swap;src:url(/fonts/Roboto-Medium.woff2) format("woff2"),url(/fonts/Roboto-Medium.woff) format("woff");font-weight:500;font-style:normal}@font-face{font-family:Roboto;font-display:swap;src:url(/fonts/Roboto-MediumItalic.woff2) format("woff2"),url(/fonts/Roboto-MediumItalic.woff) format("woff");font-weight:500;font-style:italic}@font-face{font-family:Roboto;font-display:swap;src:url(/fonts/Roboto-Thin.woff2) format("woff2"),url(/fonts/Roboto-Thin.woff) format("woff");font-weight:100;font-style:normal}@font-face{font-family:Roboto;font-display:swap;src:url(/fonts/Roboto-ThinItalic.woff2) format("woff2"),url(/fonts/Roboto-ThinItalic.woff) format("woff");font-weight:100;font-style:italic}@font-face{font-family:Roboto;font-display:swap;src:url(/fonts/Roboto-Regular.woff2) format("woff2"),url(/fonts/Roboto-Regular.woff) format("woff");font-weight:400;font-style:normal}*{box-sizing:border-box}body{padding:3.125rem 0 0}.container{width:1200px;margin:0 auto}header{position:fixed;top:0;display:flex;align-items:center;width:100%;min-height:3.125rem;z-index:99}header.shadow{box-shadow:0 1px 16px 0 rgba(0,0,0,.3)}header .header-row{display:flex;justify-content:stretch;align-items:center;-moz-column-gap:1.25rem;column-gap:1.25rem}header .burger{display:none;justify-content:center;align-items:flex-start;flex-direction:column;cursor:pointer;row-gap:.25rem;width:2rem;height:2rem;padding:.125rem}header .burger__line{width:75%;border:.125rem solid #000}header .burger__line:first-child{width:100%}header .burger__line:last-child{width:50%}header .burger:hover .burger__line{border:.125rem solid red}header .menu{display:flex;justify-content:flex-start;align-items:center}header .menu__item{text-transform:uppercase;font-family:Roboto;font-size:.875rem;font-weight:500;padding:.625rem}header .logo{width:-webkit-fit-content;width:-moz-fit-content;width:fit-content}header .logo img{display:block;margin:0 0 0 auto}header .mob-menu{display:none;position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.5);padding-right:5px}header .mob-menu__container{width:20rem;max-width:100%;height:100%;background:#fff;transform:translateX(-100%);transition:all .3s linear}header .mob-menu__item{text-transform:uppercase;font-family:Roboto;font-size:.875rem;font-weight:500;padding:1.25rem .625rem;text-align:center;cursor:pointer}header .mob-menu__item img{max-width:32px}header .mob-menu.active{display:block}header .mob-menu.active .mob-menu__container{transform:translateX(0)}@media (max-width:77.5rem){.container{max-width:100%;padding:0 .9375rem}}@media (max-width:64rem){header .burger{display:flex}header .menu{display:none}header .logo{width:100%}}@media (max-width:26.5625rem){.container{max-width:100%;padding:0 .625rem}}@media (max-width:20rem){.container{max-width:100%;padding:0 .3125rem}}
header{background-color: #fff;}header.active{box-shadow: 0 1px 16px 0 rgba(0,0,0,0.3);}

a {
  text-decoration: none;
}
.card {
  max-width: 100%;
  margin-bottom: 25px;
}
.card .img-container {
  width: 100%;
  max-height: 145px;
  overflow: hidden;
}
.card .img-container img {
  width: 100%;
}
.card .text-container {
  padding-top: 5px;
}
.card .text-container .preview-text {
  display: none;
}
.card .text-container .title {
  font-family: "Oswald", sans-serif;
  color: #222;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.2;
  opacity: 1;
  width: 100%;
  margin-top: 0;
}
.category-date {
  margin-bottom: 5px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #777;
  font-size: 0.7rem;
  line-height: 1;
}
.category-date span.date {
  font-weight: 400;
}
.big .card {
  position: relative;
  width: 100%;
}
.big .card .img-container {
  background: #000;
  line-height: 0;
  overflow: hidden;
  width: 100%;
  min-height: 550px;
}
.big .card .text-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.big .card .text-container .preview-text {
  display: block;
  color: #fff;
  font-family: Roboto;
}
.big .card .text-container .title,
.big .card .text-container .category-date {
  color: #fff;
}
.card-list {
  padding: 5px;
  width: 100%;
}
footer {
  color: #fff;
  background: #373941;
  margin-top: 10px;
  font-family: Roboto;
}
footer .ftop {
  min-height: 30px;
}
footer .ftop .flogo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
footer .fbot {
  background: rgba(0, 0, 0, 0.35);
  padding: 20px 0;
}
footer .fbot .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .fbot .btn-back {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .fbot a {
  display: block;
  color: #fff;
}
.layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.layout__item {
  width: 100%;
  max-width: calc(100% - 700px);
  min-height: 50px;
  padding: 5px;
}
.layout__item.left, .layout__item.right {
  min-width: 320px;
  width: 100%;
  max-width: 320px;
}
.layout__item.left .pop-head, .layout__item.right .pop-head {
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: Roboto;
}
.layout__item.left .pop-head span, .layout__item.right .pop-head span {
  background: #ff005b;
  color: #fff;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
  padding: 5px 13px;
  position: relative;
  text-transform: uppercase;
  transform: skewX(-15deg);
  z-index: 1;
}
.layout__item.left .pop-head::before, .layout__item.right .pop-head::before {
  content: "";
  background: #555;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 100%;
  height: 1px;
  z-index: 0;
}
@media (max-width: 1180px) {
.layout__item.left {
    flex: 0 0 100%;
    max-width: 100%;
    order: 3;
}
}
@media (max-width: 768px) {
.layout__item.right {
    max-width: 100%;
    flex: 0 0 100%;
}
}
@media (max-width: 1180px) {
.layout__item {
    max-width: calc(100% - 350px);
}
}
@media (max-width: 768px) {
.layout__item {
    max-width: 100%;
}
}
.buttons-container[data-v-22791798] {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.buttons-container button[data-v-22791798] {
  margin: 30px 50px;
  border: 0;
  background-color: #fff;
  color: #ce472f;
  font-size: 36px;
  cursor: pointer;
}
.buttons-container button[disabled][data-v-22791798] {
  cursor: default;
  color: #999;
}
hr {
  display: block;
  width: 100%;
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
}
.rm-content {
  padding: 10px;
  position: relative;
}
.rm-content .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 80%, white 95%);
}
.rm-title {
  font-family: Oswald;
}
.rm-title h1 {
  margin-bottom: 0;
}
.rm-text {
  max-height: 200px;
  overflow: hidden;
  font-family: Roboto;
}
.rm-thumb {
  max-height: 200px;
  overflow: hidden;
}
.arco img {
  display: none !important;
}
.rm-date {
  color: #ccc;
  font-size: 0.9rem;
  font-family: Roboto;
}
.rm-btn {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: Roboto;
}
.ad-box[data-v-a98927c2] {
  padding: 15px;
}
.ad-box img[data-v-a98927c2] {
  border-radius: 3px;
}
.ad-box__tiser[data-v-a98927c2] {
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 0 auto;
  width: 432px;
  max-width: 100%;
}
.ad-box__tiser-title[data-v-a98927c2] {
  font-family: Oswald;
  margin-top: 0;
  padding: 5px;
}
.mid.av {
  max-width: calc(100% - 320px);
  padding-top: 25px;
}
.mid.av img {
  display: block;
  width: 100%;
}
.mid.av h1 {
  font-family: Oswald;
  text-align: justify;
  padding: 10px;
}
@media (max-width: 1180px) {
.mid.av {
    max-width: calc(100% - 350px);
}
}
@media (max-width: 768px) {
.mid.av {
    max-width: 100%;
}
}
.art-content {
  padding: 10px 50px;
  font-family: Roboto !important;
}
.art-content pre {
  font-size: 0.9rem;
  color: #666;
}
.art-content pre code {
  font-size: inherit;
}
.art-content div {
  max-width: 100%;
}
.art-content figure {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
}
.art-content p {
  padding-bottom: 1rem;
  font-size: 1em;
  line-height: 1.6;
  font-family: Roboto !important;
  text-align: justify;
}
.art-content h3 {
  margin-bottom: 10px;
}
.art-content li {
  margin-left: 20px;
}
.art-content li p {
  padding-bottom: 0;
}
.art-content img {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  width: auto;
  margin-bottom: 1rem;
}
@media (max-width: 1180px) {
.art-content img {
    max-width: 100%;
}
}
@media (max-width: 768px) {
.art-content img {
    max-width: 100%;
}
}
@media (max-width: 625px) {
.art-content {
    padding: 10px;
    text-align: center;
}
.art-content p {
    text-indent: 0;
}
}
.cd[data-v-60dcbc68] {
  cursor: default;
}
.side-container[data-v-60dcbc68] {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  font-family: RobotoSlab;
}
.side-container .title[data-v-60dcbc68] {
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.side-container .rm-title[data-v-60dcbc68] {
  font-style: italic;
  color: #232323;
  font-weight: 400;
  line-height: 1.4;
  width: 100%;
}
.side-container .article-preview[data-v-60dcbc68] {
  background: #f9f9f9;
  color: #cf4d35;
  font-size: 1.2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  margin: 0 0 10px;
  padding: 5px;
  text-align: center;
  max-width: 100%;
  cursor: pointer;
}
.side-container .article-preview span[data-v-60dcbc68] {
  color: #232323;
}
.title[data-v-49761f7c] {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-family: RobotoSlab;
}
.title h1[data-v-49761f7c] {
  font-size: 22px;
  max-width: 90%;
  text-align: center;
}
@media (max-width: 640px) {
.title h1[data-v-49761f7c] {
    font-size: 18px;
}
}
.content[data-v-49761f7c] {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  row-gap: 20px;
}
.content .main-content[data-v-49761f7c] {
  width: calc(100% - 320px);
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.content .main-content img[data-v-49761f7c] {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}
.content .side-content[data-v-49761f7c] {
  width: 320px;
  min-width: 320px;
  padding: 0 10px 10px;
  height: auto;
}
@media (max-width: 425px) {
.content .side-content[data-v-49761f7c] {
    min-width: 0;
}
}
@media (max-width: 970px) {
.content[data-v-49761f7c] {
    flex-direction: column;
}
.content .main-content[data-v-49761f7c] {
    width: 100%;
}
.content .side-content[data-v-49761f7c] {
    width: 100%;
}
}
.side-content-wrapper[data-v-49761f7c] {
  height: 100%;
  position: relative;
}
